*{
    margin: 0;
    padding: 0;
}

/************************************* HEADER ********************************************/

header{
    box-shadow: 2px 2px 15px rgb(0, 0, 0, 0.5);
}

.logo{
    width: 4.24rem;
    height: 4.24rem;
}

.logo-2{
    display: none;
}

.input-menu{
    display: none;
}


.iconos-header{
    font-size: 25px;
    padding: 0 5px;
    color: black;
}

.nav-ul a{
    text-decoration: none;
    color: black;
}

.nav-ul a:hover{
    font-weight: 600;
}

li{
    list-style-type: none;
    display: inline-block;
    padding: 0px 20px;
}

/******************************** TITULOS *****************************************/

.titulos{
    text-align: center;
    font-size: 100px;
    padding: 50px;
}

/******************************** FOOTER *****************************************/

footer{
   color: white;
   background-color: black;
   padding: 50px 10px;
   font-size: 1.35rem;
}

.icono-footer{
    cursor: pointer;
}

.icono-footer:hover{
    color: gray;
}

/***************************** CARRUSEL-HOME **************************/

/********************** COCONTENEDOR CIRCULOS HOME *****************************/


.titulo-home{
    padding: 0;
    margin-top: 40px;
}

.circulos-home{
    width: 245px;
    height: 245px;
    background-color: rgb(212, 212, 212);
    border-radius: 50%;
    margin: 15px 0px;
}

.caja-circulos{
    padding: 0px 80px 80px 80px;
}

.contenedor-circulos-home{
    margin: 30px 0px;
}

.circulos-home img{
    width: 100%;
    height: 170px;
    object-fit: contain;
}

.circulos-home img:hover{
    scale: 1.1;
}

.btn-circulos{
    border: none;
    background-color: black;
    color: white;
    padding: 7px 50px;
    font-weight: 500;
    border-radius: 7px;
    text-decoration: none;
}

.btn-circulos:hover{
    background-color: rgb(31, 31, 31);
}

/*************************************** BANNER INFO-HOME ***********************************/

.banner-info{
    background-color: rgb(212, 212, 212);
    text-align: center;
    padding: 50px;
}



.banner-info h3{
    font-size: 0.8rem;
    font-weight: bold;
}

.contenedor-banner{
    padding: 30px 60px;
    border-right: 1px solid rgb(23, 23, 23);
    display: inline-block;
}


.iconos-banner-info{
    width: 65px;
    height: 65px;
}

.borde-final{
    border-right: none;
}

/***************************************** CASA CENTRAL-TIENDA *******************************************/

.contenedor-casa-central{
    text-align: center;
    background-color: rgb(212, 212, 212);
    padding: 30px;
}

/***************************************** SUCURSALES-TIENDA *******************************************/

.card-sucursal{
    margin: 40px;
    border: none;
    border-radius: 10px;
}

.card-sucursal img{
    width: 100%;
    object-fit: contain;
    border-radius: 10px 10px 0px 0px;
}

.card-cuerpo-sucursal{
    background-color: black;
    color: white;
    border-radius: 0px 0px 8px 8px;
    display: inline-block;
}

.card-cuerpo-sucursal h5{
    display: inline-block;
    font-size: 0.9rem;
}

/************************************ CIRCULOS-PRODUCTOS *******************************************/

.tipos-de-productos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.circulo{
    padding: 20px;
    border: black 2px solid;
    border-radius: 50%;
    margin: 0px 30px;
    cursor: pointer;
}

.circulo:hover{
    scale: 1.1;
}

.sub-circulos{
    padding: 10px;
    font-weight: 600;
    text-align: center;
}

.iconos-productos{
    width: 50px;
    height: 40px;
}

/******************* PRODUCTOS *****************************************/

.lista-categoria ul{
    display: flex;
    flex-direction: column;
    background-color: #f1f2f4db;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.lista-categoria ul li:hover{
    background-color: rgb(212, 212, 212);
}

.lista-categoria ul li{
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
    padding: 6px;
}

.lista-categoria h2{
    text-align: center;
    background-color: rgb(212, 212, 212);
    margin: 0;
}

.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(1, 20% 1fr);
}

.img-productos{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-productos{
    margin-bottom: 30px;
    border: none;
}

.card-body-productos{
    text-align: center;
    background-color: rgb(212, 212, 212);
    padding: 25px;
}

.btn-carrito{
    border: none;
    background-color: black;
    color: white;
    padding: 10px;
    font-weight: 500;
    border-radius: 8px;
    text-decoration: none;
}

.btn-carrito:hover{
    background-color: rgb(31, 31, 31);
}

/******************* NOSOTROS *****************************************/

.subtitulos{
    text-align: center;
    font-size: 30px;
    padding: 30px 0px;
}

.contenedor-nosotros p{
    text-align: center;
    padding: 70px;
    margin: 0px 0px;
    background-color: #f1f2f4db;
}

.marcas{
    background-color: rgb(212, 212, 212);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 55px 35px;
}

.logo-marcas{
    width: 80%;
    height: 80%;
    filter: grayscale(100%);
}

.logo-marcas:hover{
    scale: 1.1;
    filter: none;
}
/******************* CONTACTO *****************************************/

.banner-contacto{
    background-color: rgb(212, 212, 212);
    padding: 30px;
    text-align: center;
}

.contacto{
    padding: 80px;
    background-image: url(../imagenes/fondo-form.webp);
    background-size: cover;
}

form{
    background-color: rgb(212, 212, 212);
    padding: 40px;
    border-radius: 20px;
    width: 50%;
}

.mensaje{
    display: flex;
    flex-direction: column;
}

.btn-contacto{
    background-color: black;
    color: white;
    padding: 7px 25px;
    border-radius: 8px;
    float: right;
}

.btn-contacto:hover{
    background-color: rgb(31, 31, 31);
}


/********************************************** MEDIA QUERY *********************************************************/


/**************** RESPONSIVE TABLETS  ***************************/

@media (min-width:577px) and (max-width:992px) {

    /************** HEADER ************/

    .logo-2{
        display: none;
    }

    header ul{
        text-align: center;
        font-size: 2.5rem;
    }

    .input-menu{
        border: 1px solid black;
        border-radius: 6px;

    }

    .caja-iconos{
        display: flex;
        justify-content: center;
    }

    .iconos-header{
        padding: 0px 10px;
    }

    .nav-contenido{
        height: 100vh;
    }

    /************** TITULOS ************/

    .titulos{
        font-size: 2.8rem;
    }

    /***************** HOME *********************/

    .contenedor-banner{
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .contenedor-banner{
        border-right: none;
        padding: 45px 60px;
    }

    /***************** TIENDAS *********************/

    iframe{
        width: 85%;
    }

    /************ PRODUCTOS *************/

    .lista-categoria{
        display: none;
    }

    .contenedor-productos{
        grid: none;
    }

    /*********** NOSOTROS **************/

    .subtitulos{
        font-size: 1.55rem;
    }

    /******** CONTACTO ***********/

    .contacto{
        background: none;
        padding: 50px 40px;
    }

    form{
        width: 100%;
    }

}

/********************** RESPONSIVE CELULAR **************************/

@media (max-width:576px) {

    .logo-2 {
        display: none;
    }

    /********** TITULOS ***********/

    .titulos{
        font-size: 2.1rem;
    }


    header ul{
        text-align: center;
        font-size: 2.0rem;
    }

    .input-menu{
        border: 1px solid black;
        border-radius: 6px;

    }

    .caja-iconos{
        display: flex;
        justify-content: center;
        
    }

    .iconos-header{
        padding: 0px 10px;
    }

    .nav-contenido{
        height: 100vh;
    }


    /************ HOME ***********/
    
    /************ CIRCULOS-HOME  *******************/

    .contenedor-circulos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /************ BANNER INFO-HOME **************/

    .contenedor-banner{
        border-right: none;
        padding: 45px 60px;
    }

    /********** TIENDAS *************/

    iframe{
        width: 100%;
    }

    /********** PRODUCTOS *************/

    .iconos-productos{
        width: 33px;
        height: 29px;
    }

    .circulo{
        margin: 0px 20px;
    }

    .lista-categoria{
        display: none;
    }

    .contenedor-productos{
        grid: none;
    }

    /************ NOSOTROS ***********/

    .subtitulos{
        font-size: 1.2rem;
    }

    /********** CONTACTO ***************/

    .contacto{
        background: none;
        padding: 30px 16px;
    }

    form{
        width: 100%;
    }

}

