//CIRCULOS-PRODUCTOS

.tipos-de-productos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 10px;
  }
  
  .circulo {
    border: black 2px solid;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 30px;
  
    &:hover {
      scale: 1.1;
    }
  }

  .caja-circulos-productos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .sub-circulos {
    padding: 10px;
    font-weight: 600;
    text-align: center;
  }
  
  .iconos-productos {
    width: 35px;
    height: 35px;
  }