//NOSOTROS

.subtitulos{
    text-align: center;
    font-size: 1.875rem;
    padding: 30px 0px;
}

.contenedor-nosotros p{
    text-align: center;
    padding: 70px;
    margin: 0px 0px;
    background-color: $color-principal;
}

.marcas{
    background-color: $color-secundario;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 55px 35px;
}

.logo-marcas{
    width: 75%;
    height: 75%;
    filter: grayscale(100%);
    transition: all 0.3s;
}

.logo-marcas:hover{
    scale: 1.1;
    filter: none;
}